<div class="page-header">
  <h1 style="text-align:center;"><a href="{{ page.url }}">{{ page.title }}</a> <small>{{ page.tagline }}</small></h1>
</div>

<div class="row">
  <div class="span4">
	<!-- sina微博秀。使用本主题时请修改此div即可 -->
	<p>
      <iframe width="100%" height="800" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=800&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=1186989994&verifier=6ddf902b&colors=d6f3f7,ffffff,666666,0082cb,a9f3e1&dpc=1"></iframe>
    </p>
	
	<!-- taobao ad -->
	<p>
		<script type="text/javascript">
			 document.write('<a style="display:none!important" id="tanx-a-mm_27876437_4042006_13138518"></a>');
			 tanx_s = document.createElement("script");
			 tanx_s.type = "text/javascript";
			 tanx_s.charset = "gbk";
			 tanx_s.id = "tanx-s-mm_27876437_4042006_13138518";
			 tanx_s.async = true;
			 tanx_s.src = "http://p.tanx.com/ex?i=mm_27876437_4042006_13138518";
			 tanx_h = document.getElementsByTagName("head")[0];
			 if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
		</script>
	</p>
  </div>
  <div class="span10">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span3">
    <div>
	  <img src="/assets/themes/popeye/image/pigface.jpg"></img>
	</div>
    <div>
      <h3>本文写于</h3>
      <div class="date"><span>{{ page.date | date:"%Y年%m月%d日" }}</span></div>
	  <br />
	  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/cn/80x15.png" /></a>本作品由<a href="http://www.54gxy.com/">popeye0523</a>原创，采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">知识共享署名-非商业性使用-相同方式共享 3.0 中国大陆许可协议</a>进行许可，请共享时注明<a href="{{ page.url }}">本文地址</a>。
	  <hr />
	  <a href="{{ BASE_PATH }}/humans.txt"><img src="http://humanstxt.org/img/oficial-logos/humanstxt-isolated-blank.gif"></a>
    </div>
	{% unless page.tags == empty %}
	<hr />
	<div>
	  <h3>本文标签</h3>
      <ul class="tag_box">
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>
    </div>
	{% endunless %}  
	<hr />
	<div>
	  <h3>其他文章</h3>
	  {% for post in site.related_posts limit:5%}
        <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
	</div>
	<hr />
	<div><!-- 二维码，使用本主题时请修改此div即可 -->
	  <h3>二维码</h3>
	  <img src="/assets/themes/popeye/image/qrcode.png">
	</div>
	<hr />
	<div><!-- repos，使用本主题时请修改此div即可 -->
	  <h3>GitHub Repos</h3>
	  <ul>
	    <li><a href="https://github.com/popeye0523/popeye0523.github.com">popeye0523.github.com</a><p>博客源码</p></li>
		<li><a href="https://github.com/popeye0523/theme-popeye">theme-popeye</a><p>主题源码</p></li>
	  </ul>
	</div>
  </div>
</div>

